{
  "openapi": "3.0.3",
  "info": {
    "title": "Devin API v3beta1",
    "description": "Devin API v3beta1 - Full RBAC support with service user authentication for enterprise and organization management.",
    "version": "3.0.0-beta1",
    "contact": {
      "name": "Cognition Labs",
      "url": "https://docs.devin.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.devin.ai",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/v3beta1/enterprise/audit-logs": {
      "get": {
        "tags": [
          "audit_logs"
        ],
        "summary": "List Audit Logs",
        "description": "List audit logs for the enterprise.",
        "operationId": "handle_get_enterprise_audit_logs_v3beta1_enterprise_audit_logs_get",
        "parameters": [
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AuditLogAction",
              "nullable": true,
              "title": "Action"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AuditLogResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/consumption/cycles": {
      "get": {
        "tags": [
          "consumption"
        ],
        "summary": "List Consumption Cycles",
        "operationId": "handle_get_consumption_cycles_v3beta1_enterprise_consumption_cycles_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_ConsumptionCycle_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/consumption/daily": {
      "get": {
        "tags": [
          "consumption"
        ],
        "summary": "Get Daily Consumption",
        "description": "Get daily ACU consumption for the entire enterprise.\n\nReturns total ACUs and consumption broken down by date.\n\n**Timezone behavior**: Billing cycles use midnight PST (Pacific Standard Time)\nas the day boundary, which corresponds to 08:00:00 UTC. To match the consumption\ndata shown in the Devin dashboard, pass Unix timestamps that align with this\ntimezone offset (e.g., 1733385600 for December 5, 2025 at midnight PST).",
        "operationId": "handle_get_consumption_daily_v3beta1_enterprise_consumption_daily_get",
        "parameters": [
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/consumption/daily/organizations/{org_id}": {
      "get": {
        "tags": [
          "consumption"
        ],
        "summary": "Get Organization Daily Consumption",
        "description": "Get daily ACU consumption for a specific organization.\n\nReturns total ACUs and consumption broken down by date for the org.\n\n**Timezone behavior**: Billing cycles use midnight PST (Pacific Standard Time)\nas the day boundary, which corresponds to 08:00:00 UTC. To match the consumption\ndata shown in the Devin dashboard, pass Unix timestamps that align with this\ntimezone offset (e.g., 1733385600 for December 5, 2025 at midnight PST).",
        "operationId": "handle_get_org_consumption_daily_v3beta1_enterprise_consumption_daily_organizations__org_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/consumption/daily/sessions/{session_id}": {
      "get": {
        "tags": [
          "consumption"
        ],
        "summary": "Get Session Daily Consumption",
        "description": "Get daily ACU consumption for a specific session.\n\nReturns total ACUs and consumption broken down by date for the session.\n\n**Timezone behavior**: Billing cycles use midnight PST (Pacific Standard Time)\nas the day boundary, which corresponds to 08:00:00 UTC. To match the consumption\ndata shown in the Devin dashboard, pass Unix timestamps that align with this\ntimezone offset (e.g., 1733385600 for December 5, 2025 at midnight PST).",
        "operationId": "handle_get_session_consumption_daily_v3beta1_enterprise_consumption_daily_sessions__session_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/consumption/daily/users/{user_id}": {
      "get": {
        "tags": [
          "consumption"
        ],
        "summary": "Get User Daily Consumption",
        "description": "Get daily ACU consumption for a specific user.\n\nReturns total ACUs and consumption broken down by date for the user.\n\n**Timezone behavior**: Billing cycles use midnight PST (Pacific Standard Time)\nas the day boundary, which corresponds to 08:00:00 UTC. To match the consumption\ndata shown in the Devin dashboard, pass Unix timestamps that align with this\ntimezone offset (e.g., 1733385600 for December 5, 2025 at midnight PST).",
        "operationId": "handle_get_user_consumption_daily_v3beta1_enterprise_consumption_daily_users__user_id__get",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsumptionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/git-providers/connections": {
      "get": {
        "tags": [
          "git_connections"
        ],
        "summary": "List Git Connections",
        "operationId": "handle_get_git_connections_v3beta1_enterprise_git_providers_connections_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_GitConnectionResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/hypervisors": {
      "get": {
        "summary": "List Hypervisors",
        "operationId": "handle_get_hypervisors_v3beta1_enterprise_hypervisors_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "default": "available",
              "enum": [
                "available",
                "restarting",
                "disconnected",
                "terminated",
                "draining",
                "all"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_HypervisorResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/idp-groups": {
      "get": {
        "tags": [
          "idp_groups"
        ],
        "summary": "List Registered Enterprise IDP Groups",
        "description": "List IDP groups registered with this enterprise.",
        "operationId": "handle_list_account_idp_groups_v3beta1_enterprise_idp_groups_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_IdpGroupResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "idp_groups"
        ],
        "summary": "Register Enterprise IDP Groups",
        "description": "Bulk create IDP groups for this enterprise. Existing groups are ignored.",
        "operationId": "handle_bulk_register_account_idp_groups_v3beta1_enterprise_idp_groups_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdpGroupsBulkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/IdpGroupResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/idp-groups/{idp_group_name}": {
      "delete": {
        "tags": [
          "idp_groups"
        ],
        "summary": "Remove Registered Enterprise IDP Group",
        "description": "Remove a registered IDP group from this enterprise.",
        "operationId": "handle_delete_account_idp_group_v3beta1_enterprise_idp_groups__idp_group_name__delete",
        "parameters": [
          {
            "in": "path",
            "name": "idp_group_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdpGroupResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/knowledge/notes": {
      "get": {
        "summary": "List all notes.",
        "operationId": "handle_list_notes_v3beta1_enterprise_knowledge_notes_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_KnowledgeNoteResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "summary": "Create an enterprise-level note",
        "operationId": "handle_create_note_v3beta1_enterprise_knowledge_notes_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeNoteCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeNoteResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/idp-groups": {
      "get": {
        "tags": [
          "idp_groups"
        ],
        "summary": "List IDP Groups",
        "operationId": "handle_list_enterprise_idp_groups_v3beta1_enterprise_members_idp_groups_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_IdpGroup_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/idp-groups/{idp_group_name}": {
      "post": {
        "tags": [
          "idp_groups"
        ],
        "summary": "Assign IDP Group",
        "operationId": "handle_assign_enterprise_idp_group_role_v3beta1_enterprise_members_idp_groups__idp_group_name__post",
        "parameters": [
          {
            "in": "path",
            "name": "idp_group_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdpGroupUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdpGroup"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/service-users": {
      "get": {
        "tags": [
          "service_users"
        ],
        "summary": "List Service Users",
        "description": "List service users in the enterprise.",
        "operationId": "handle_list_enterprise_service_users_v3beta1_enterprise_members_service_users_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_ServiceUser_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/service-users/{service_user_id}": {
      "delete": {
        "tags": [
          "service_users"
        ],
        "summary": "Delete Service User",
        "operationId": "handle_remove_enterprise_service_user_v3beta1_enterprise_members_service_users__service_user_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "service_user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "patch": {
        "tags": [
          "service_users"
        ],
        "summary": "Update Service User",
        "description": "Update enterprise role for service user.",
        "operationId": "handle_update_enterprise_service_user_role_v3beta1_enterprise_members_service_users__service_user_id__patch",
        "parameters": [
          {
            "in": "path",
            "name": "service_user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUserUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "service_users"
        ],
        "summary": "Assign Service User",
        "description": "Assign enterprise role to service user.",
        "operationId": "handle_assign_enterprise_service_user_role_v3beta1_enterprise_members_service_users__service_user_id__post",
        "parameters": [
          {
            "in": "path",
            "name": "service_user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUserUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List Users",
        "operationId": "handle_list_enterprise_users_v3beta1_enterprise_members_users_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_User_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Invite Users",
        "operationId": "handle_bulk_invite_enterprise_users_v3beta1_enterprise_members_users_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBulkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/members/users/{user_id}": {
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete User",
        "operationId": "handle_remove_enterprise_user_v3beta1_enterprise_members_users__user_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "patch": {
        "tags": [
          "users"
        ],
        "summary": "Update User",
        "operationId": "handle_update_enterprise_user_role_v3beta1_enterprise_members_users__user_id__patch",
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/metrics/usage": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "Get Usage Metrics",
        "description": "Get aggregated usage metrics for the enterprise account.\n\nReturns counts of sessions, searches, and PRs (opened, closed, merged)\nwithin the specified time range.",
        "operationId": "handle_get_usage_metrics_v3beta1_enterprise_metrics_usage_get",
        "parameters": [
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageMetrics"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations": {
      "get": {
        "tags": [
          "organizations"
        ],
        "summary": "List Organizations",
        "description": "List organizations in the enterprise.",
        "operationId": "handle_get_organizations_v3beta1_enterprise_organizations_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_OrganizationResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "organizations"
        ],
        "summary": "Create Organization",
        "description": "Create a new organization in this enterprise",
        "operationId": "handle_create_organization_v3beta1_enterprise_organizations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}": {
      "delete": {
        "tags": [
          "organizations"
        ],
        "summary": "Delete Organization",
        "description": "Delete an organization from this enterprise",
        "operationId": "handle_delete_organization_v3beta1_enterprise_organizations__org_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "patch": {
        "tags": [
          "organizations"
        ],
        "summary": "Update Organization",
        "description": "Update an organization's name and/or ACU limits",
        "operationId": "handle_update_organization_v3beta1_enterprise_organizations__org_id__patch",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/audit-logs": {
      "get": {
        "tags": [
          "audit_logs"
        ],
        "summary": "List Organization Audit Logs",
        "description": "List audit logs for the organization.",
        "operationId": "handle_get_org_audit_logs_v3beta1_enterprise_organizations__org_id__audit_logs_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AuditLogAction",
              "nullable": true,
              "title": "Action"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AuditLogResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/git-providers/permissions": {
      "get": {
        "tags": [
          "git_permissions"
        ],
        "summary": "List Git Permissions",
        "description": "List git permissions for the organization.",
        "operationId": "handle_get_organization_git_permissions_v3beta1_enterprise_organizations__org_id__git_providers_permissions_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_GitPermissionResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "git_permissions"
        ],
        "summary": "Create Git Permissions",
        "operationId": "handle_bulk_create_organization_git_permissions_v3beta1_enterprise_organizations__org_id__git_providers_permissions_post",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitPermissionBulkCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GitPermissionResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/git-providers/permissions/{git_permission_id}": {
      "delete": {
        "tags": [
          "git_permissions"
        ],
        "summary": "Delete Git Permission",
        "operationId": "handle_delete_organization_git_permission_v3beta1_enterprise_organizations__org_id__git_providers_permissions__git_permission_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "git_permission_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitPermissionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/members/idp-groups/{idp_group_name}": {
      "get": {
        "tags": [
          "idp_groups"
        ],
        "summary": "Get Organization IDP Group",
        "operationId": "handle_get_organization_idp_group_v3beta1_enterprise_organizations__org_id__members_idp_groups__idp_group_name__get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "idp_group_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdpGroup"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "idp_groups"
        ],
        "summary": "Assign Organization IDP Group",
        "operationId": "handle_assign_organization_idp_group_role_v3beta1_enterprise_organizations__org_id__members_idp_groups__idp_group_name__post",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "idp_group_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdpGroupUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdpGroup"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/members/service-users": {
      "get": {
        "tags": [
          "service_users"
        ],
        "summary": "List Organization Service Users",
        "description": "List service users in the organization.",
        "operationId": "handle_list_organization_service_users_v3beta1_enterprise_organizations__org_id__members_service_users_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_ServiceUser_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/members/service-users/{service_user_id}": {
      "post": {
        "tags": [
          "service_users"
        ],
        "summary": "Assign Organization Service User",
        "description": "Assign organization role to service user.",
        "operationId": "handle_assign_organization_service_user_role_v3beta1_enterprise_organizations__org_id__members_service_users__service_user_id__post",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "service_user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUserUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/members/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List Organization Users",
        "operationId": "handle_list_organization_users_v3beta1_enterprise_organizations__org_id__members_users_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_User_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/members/users/{user_id}": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Assign Organization User",
        "operationId": "handle_assign_organization_user_role_v3beta1_enterprise_organizations__org_id__members_users__user_id__post",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/metrics/usage": {
      "get": {
        "tags": [
          "metrics"
        ],
        "summary": "Get Organization Usage Metrics",
        "description": "Get aggregated usage metrics for the enterprise account.\n\nReturns counts of sessions, searches, and PRs (opened, closed, merged)\nwithin the specified time range.",
        "operationId": "handle_get_organization_usage_metrics_v3beta1_enterprise_organizations__org_id__metrics_usage_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time Before"
            }
          },
          {
            "in": "query",
            "name": "time_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Time After"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageMetrics"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/tags": {
      "get": {
        "tags": [
          "organization-tags"
        ],
        "summary": "Get Organization Allowed Tags",
        "description": "Get the allowed session tags for an organization.",
        "operationId": "handle_get_organization_allowed_tags_v3beta1_enterprise_organizations__org_id__tags_get",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "organization-tags"
        ],
        "summary": "Append Organization Tags",
        "description": "Append tags to the allowed session tags for an organization.",
        "operationId": "handle_append_organization_allowed_tags_v3beta1_enterprise_organizations__org_id__tags_post",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "put": {
        "tags": [
          "organization-tags"
        ],
        "summary": "Replace Organization Allowed Tags",
        "description": "Replace the full set of allowed session tags for an organization.",
        "operationId": "handle_replace_organization_allowed_tags_v3beta1_enterprise_organizations__org_id__tags_put",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/organizations/{org_id}/tags/{tag}": {
      "delete": {
        "tags": [
          "organization-tags"
        ],
        "summary": "Remove Organization Tag",
        "description": "Remove a single tag from the allowed session tags for an organization.",
        "operationId": "remove_organization_allowed_tag_v3beta1_enterprise_organizations__org_id__tags__tag__delete",
        "parameters": [
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/playbooks": {
      "get": {
        "summary": "List all playbooks.",
        "operationId": "handle_list_playbooks_v3beta1_enterprise_playbooks_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_PlaybookResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "summary": "Create an enterprise-level playbook",
        "operationId": "handle_create_playbook_v3beta1_enterprise_playbooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaybookCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaybookResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/roles": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "List Roles",
        "description": "Get roles for this enterprise",
        "operationId": "handle_get_roles_v3beta1_enterprise_roles_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Role_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/enterprise/self": {
      "get": {
        "tags": [
          "self"
        ],
        "summary": "Get Self",
        "operationId": "handle_get_self_v3beta1_enterprise_self_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfResponse"
                }
              }
            },
            "description": "Successful Response"
          }
        }
      }
    },
    "/v3beta1/enterprise/service-users": {
      "post": {
        "tags": [
          "service_user_provisioning"
        ],
        "summary": "Provision enterprise service user",
        "description": "Programmatically provision a new service user at the enterprise level.\n\nThis endpoint allows service users with ManageAccountServiceUsers permission\nto create new service users with a subset of their own permissions.\n\nSecurity constraints:\n- The target role's permissions must be a subset of the caller's permissions\n- ManageAccountServiceUsers permission can never be granted",
        "operationId": "handle_provision_enterprise_service_user_v3beta1_enterprise_service_users_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisionServiceUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionedServiceUserResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/organizations/{org_id}/knowledge/notes": {
      "get": {
        "tags": [
          "notes"
        ],
        "summary": "List org-level notes",
        "description": "List notes for an organization.",
        "operationId": "handle_list_notes_v3beta1_organizations__org_id__knowledge_notes_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_KnowledgeNoteResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "notes"
        ],
        "summary": "Create an org-level note",
        "description": "Create a note for an organization.",
        "operationId": "handle_create_note_v3beta1_organizations__org_id__knowledge_notes_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeNoteCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeNoteResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ]
      }
    },
    "/v3beta1/organizations/{org_id}/playbooks": {
      "get": {
        "tags": [
          "playbooks"
        ],
        "summary": "List org-level playbooks",
        "description": "List playbooks for an organization.",
        "operationId": "handle_list_playbooks_v3beta1_organizations__org_id__playbooks_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_PlaybookResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "playbooks"
        ],
        "summary": "Create an org-level playbook",
        "description": "Create a playbook for an organization.",
        "operationId": "handle_create_playbook_v3beta1_organizations__org_id__playbooks_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaybookCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaybookResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ]
      }
    },
    "/v3beta1/organizations/{org_id}/secrets": {
      "get": {
        "tags": [
          "secrets"
        ],
        "summary": "List org-level secrets",
        "description": "List secrets for an organization.",
        "operationId": "handle_list_secrets_v3beta1_organizations__org_id__secrets_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_SecretResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "secrets"
        ],
        "summary": "Create an org-level secret",
        "description": "Create a secret for an organization.",
        "operationId": "handle_create_secret_v3beta1_organizations__org_id__secrets_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ]
      }
    },
    "/v3beta1/organizations/{org_id}/secrets/{secret_id}": {
      "delete": {
        "tags": [
          "secrets"
        ],
        "summary": "Delete an org-level secret",
        "description": "Delete a secret for an organization.",
        "operationId": "handle_delete_secret_v3beta1_organizations__org_id__secrets__secret_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "secret_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/organizations/{org_id}/sessions": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "List Sessions",
        "description": "List sessions.",
        "operationId": "handle_get_sessions_v3beta1_organizations__org_id__sessions_get",
        "parameters": [
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "After"
            }
          },
          {
            "in": "query",
            "name": "first",
            "required": false,
            "schema": {
              "default": 100,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "session_ids",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "nullable": true,
              "title": "Session Ids"
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Created After"
            }
          },
          {
            "in": "query",
            "name": "created_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Created Before"
            }
          },
          {
            "in": "query",
            "name": "updated_after",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Updated After"
            }
          },
          {
            "in": "query",
            "name": "updated_before",
            "required": false,
            "schema": {
              "type": "integer",
              "nullable": true,
              "title": "Updated Before"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "nullable": true,
              "title": "Tags"
            }
          },
          {
            "in": "query",
            "name": "playbook_id",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "Playbook Id"
            }
          },
          {
            "in": "query",
            "name": "origins",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "webapp",
                  "slack",
                  "teams",
                  "api",
                  "linear",
                  "jira",
                  "other"
                ],
                "type": "string"
              },
              "type": "array",
              "nullable": true,
              "title": "Origins"
            }
          },
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_SessionResponse_"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      },
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "Create Session",
        "description": "Create a new session",
        "operationId": "handle_create_session_v3beta1_organizations__org_id__sessions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The org id"
          }
        ]
      }
    },
    "/v3beta1/organizations/{org_id}/sessions/{devin_id}": {
      "delete": {
        "tags": [
          "sessions"
        ],
        "summary": "Terminate Session",
        "description": "Terminate session",
        "operationId": "handle_terminate_session_v3beta1_organizations__org_id__sessions__devin_id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "devin_id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "Devin Id"
            }
          },
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "Org Id"
            }
          },
          {
            "description": "Whether to archive the devin session",
            "in": "query",
            "name": "archive",
            "required": false,
            "schema": {
              "default": false,
              "description": "Whether to archive the devin session",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    },
    "/v3beta1/organizations/{org_id}/sessions/{devin_id}/archive": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "Archive Session",
        "description": "Archive session",
        "operationId": "handle_archive_session_v3beta1_organizations__org_id__sessions__devin_id__archive_post",
        "parameters": [
          {
            "in": "path",
            "name": "devin_id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "Devin Id"
            }
          },
          {
            "in": "path",
            "name": "org_id",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "title": "Org Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcusByProduct": {
        "description": "Breakdown of ACU consumption by product.",
        "properties": {
          "devin": {
            "type": "number"
          },
          "cascade": {
            "type": "number"
          },
          "terminal": {
            "type": "number"
          }
        },
        "required": [
          "devin",
          "cascade",
          "terminal"
        ],
        "type": "object"
      },
      "AuditLogAction": {
        "enum": [
          "login",
          "create_org",
          "update_org",
          "delete_org",
          "revoke_all_enterprise_api_keys",
          "add_enterprise_member",
          "delete_member",
          "add_member",
          "assign_roles",
          "update_role",
          "create_role",
          "delete_role",
          "add_group_membership",
          "update_group_membership",
          "delete_group_membership",
          "create_knowledge",
          "edit_knowledge",
          "delete_knowledge",
          "create_folder",
          "update_folder",
          "delete_folder",
          "create_session",
          "sleep_session",
          "terminate_session",
          "send_message",
          "create_service_api_key",
          "revoke_enterprise_api_key",
          "create_gitlab_integration",
          "delete_gitlab_integration",
          "create_azure_devops_integration",
          "delete_azure_devops_integration",
          "remove_repo_from_devin",
          "update_enterprise_hypervisor_settings",
          "update_enterprise_settings",
          "update_org_settings",
          "ai_guardrail_violation",
          "approve_deploy",
          "search_query",
          "create_org_api_key",
          "create_user_api_key",
          "view_org_api_key",
          "view_user_api_key",
          "create_secret",
          "update_secret",
          "delete_secret",
          "create_playbook",
          "update_playbook",
          "delete_playbook",
          "enable_persona",
          "disable_persona",
          "delete_persona",
          "start_repo_setup",
          "delete_repo_setup",
          "finish_repo_setup",
          "github_integration_deleted",
          "create_github_integration",
          "delete_github_integration",
          "create_bitbucket_integration",
          "delete_bitbucket_integration",
          "mcp_server_install",
          "mcp_server_enable",
          "mcp_server_disable",
          "mcp_server_delete",
          "create_mcp_validation_session",
          "create_service_user",
          "delete_service_user",
          "assign_service_user_role",
          "remove_service_user_role",
          "create_git_permission",
          "delete_git_permission",
          "update_git_permission",
          "create_maintenance_task",
          "update_maintenance_task",
          "delete_maintenance_task",
          "create_snapshot_script",
          "schedule_snapshot_script",
          "execute_snapshot_script",
          "update_repo_setup_steering_knowledge",
          "delete_repo_setup_steering_knowledge",
          "set_org_group_limits",
          "create_join_request",
          "automatic_join_event",
          "reject_join_request"
        ],
        "type": "string"
      },
      "AuditLogResponse": {
        "properties": {
          "action": {
            "$ref": "#/components/schemas/AuditLogAction"
          },
          "audit_log_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "data": {
            "additionalProperties": true,
            "type": "object"
          },
          "org_id": {
            "type": "string",
            "nullable": true
          },
          "service_user_id": {
            "type": "string",
            "nullable": true
          },
          "service_user_name": {
            "type": "string",
            "nullable": true
          },
          "user_email": {
            "type": "string",
            "nullable": true
          },
          "user_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "audit_log_id",
          "action",
          "created_at",
          "org_id",
          "user_id",
          "user_email",
          "service_user_id",
          "service_user_name",
          "data"
        ],
        "type": "object"
      },
      "ConsumptionByDateResponse": {
        "properties": {
          "acus": {
            "type": "number"
          },
          "acus_by_product": {
            "$ref": "#/components/schemas/AcusByProduct"
          },
          "date": {
            "type": "integer"
          }
        },
        "required": [
          "date",
          "acus",
          "acus_by_product"
        ],
        "type": "object"
      },
      "ConsumptionCycle": {
        "properties": {
          "after": {
            "type": "integer"
          },
          "before": {
            "type": "integer"
          }
        },
        "required": [
          "before",
          "after"
        ],
        "type": "object"
      },
      "ConsumptionResponse": {
        "properties": {
          "consumption_by_date": {
            "items": {
              "$ref": "#/components/schemas/ConsumptionByDateResponse"
            },
            "type": "array"
          },
          "total_acus": {
            "type": "number"
          }
        },
        "required": [
          "total_acus",
          "consumption_by_date"
        ],
        "type": "object"
      },
      "GitConnectionResponse": {
        "properties": {
          "created_at": {
            "type": "integer"
          },
          "git_connection_id": {
            "type": "string"
          },
          "git_provider_type": {
            "enum": [
              "github_token",
              "github_individual_token",
              "github_app",
              "gitlab_token",
              "gitlab_oauth",
              "azure_devops_oauth",
              "bitbucket_oauth",
              "bitbucket_token"
            ],
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "git_connection_id",
          "git_provider_type",
          "name",
          "host",
          "created_at"
        ],
        "type": "object"
      },
      "GitPermissionBulkCreateRequest": {
        "properties": {
          "permissions": {
            "items": {
              "$ref": "#/components/schemas/GitPermissionCreateRequest"
            },
            "maxItems": 200,
            "type": "array"
          }
        },
        "required": [
          "permissions"
        ],
        "type": "object"
      },
      "GitPermissionCreateRequest": {
        "properties": {
          "git_connection_id": {
            "type": "string"
          },
          "group_prefix": {
            "type": "string",
            "nullable": true
          },
          "prefix_path": {
            "type": "string",
            "nullable": true
          },
          "repo_path": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "git_connection_id"
        ],
        "type": "object"
      },
      "GitPermissionResponse": {
        "properties": {
          "git_connection_id": {
            "type": "string"
          },
          "git_permission_id": {
            "type": "string"
          },
          "group_prefix": {
[...]
